@import '~vars.scss';

.select {
  position: relative;
  padding: 20px 15px;
  width: 100%;
  border: solid 1px white;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;

  &:before {
    position: absolute;
    z-index: 1;
    content: '';
    top: calc(50% - 3px);
    right: 15px;
    border: solid 5px transparent;
    border-top-color: $blue;
  }

  &-title {
    position: absolute;
    content: attr(data-title);
    top: 0;
    left: 0;
    padding-left: 10px;
    width: calc(100%);
    height: calc(100%);
    background: #fafafa;
    font-size: 15px;
    line-height: 40px;
    color: #9b9a9b;
    border: solid 1px $border;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;

    &.active {
      font-family: $mainFontBold;
      color: $blue;
    }
  }

  &-form {
    position: absolute;
    z-index: 1;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fafafa;
    border: solid 1px $border;
    border-top: none;
  }

  &-option {
    padding: 10px;
    border-bottom: solid 1px $border;
    cursor: pointer;
    transition: .2s;

    &:last-child { border: none; }

    &.active, &:hover {
      background: $blue;
      color: white;
    }
  }

  &.white &-title { background: white; }

  &.white &-form { background: white; }

  &.white:before { border-top-color: #999; }

  &.error {
    border: solid 1px #da1212;

    .select-title { border: solid 1px #da1212; }

    &:after {
      position: absolute;
      content: attr(data-error);
      bottom: -18px;
      left: 0;
      font-size: 12px;
      color: #da1212;
    }
  }

  &.open &-form { display: block; }

  &.success {

    .select-title { display: none; }

    &:before,
    &:after {
      position: absolute;
      content: '';
      width: 10px;
      height: 4px;
      background: $blue;
    }

    &:before {
      top: 29px;
      right: 15px;
      width: 12px;
      transform: rotate(-45deg);
    }

    &:after {
      top: 31px;
      right: 22px;
      width: 8px;
      transform: rotate(-135deg);
    }
  }
}
