// Colors
$full: #4c4a4a;
$blue: #00a1dc;
$green: #008744;
$border: #e6e6e6;

// Media
$tabletsBig: '1024px';
$tabletsSmall: '767px';
$mobiles: '480px';

// Animates
$fastTransition: .2s;
$baseTransitionIn: .3s ease-in-out;

// Fonts
$mainFontBold: 'OpenSansBold';
$mainFontRegular: 'OpenSansRegular';
