@import '~vars.scss';

.main-menu {
  padding: 10px 0;

  &-item {
    margin-right: 15px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    transition: $baseTransitionIn;
  }
}

.active-menu-item {
  font-weight: 600;
  color: $blue;
}
