@import '~vars.scss';
@import '~mixins.scss';

.controls {
  @include flexBox();
  flex-wrap: wrap;
  padding: 15px 10px;

  &-left,
  &-right {
    @include flexBox();
  }

  &-left {
    width: 30%;

    @media (max-width: $tabletsBig) { width: 100%; }
  }

  &-right {
    flex: 1;

    @media (max-width: $tabletsBig) { margin-top: 25px; }

    @media (max-width: $mobiles) { flex-wrap: wrap; }
  }

  &-select {
    margin-left: 15px;
    width: 100%;

    @media (max-width: $mobiles) {
      margin-top: 15px;
      margin-left: 0;
    }
  }
}

.clear-filters {
  position: relative;
  margin-left: 15px;
  color: red;

  &:hover {
    cursor: pointer;
  }
}
